h3{color: rgb(16, 123, 245) ;}                /* for all h3*/
h4{color: maroon;}                           /* for all h4*/
body {background-color: Black;}      /* for entire body*/
p,li{color: #C9C9C9;}                   /* for scheme matter and lists*/
h2{color: white;}
h1{

}

a{  color: rgb(163, 179, 15)}
a:hover{color: red;
      text-decoration: none;}

.header{
  padding: 10px;

  background-color: #000000;
  text-align: initial;
  color: white;

}     
.article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

.entire{
  padding: 0px;
  border:  0px solid black;
  margin-left:  100px;
  margin-right: 100px;
  color: whitesmoke;
}

.boxx{
  border: 4px solid #05084e;
  border-radius: 10px;
  padding-left: 20px ;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: #09164e;

}

.video{
  padding-left: 350px;
}



@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

body {
  height: 2000px;
  position: relative;
}
}

.intro-copy {
  padding: 1em;
  margin: 50vh auto;
  max-width: 11em;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
}

.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;

  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: .25em;
  width: 80px;
  height: 80px;
  background-color: #F8F8F8;

}